.clothes-section__header{
    display: flex;
    gap: 20px;
}
.clothes-section__title{
    font-family: "Cabinet Grotesk",sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.clothes-section__add_button{
    border: none;
    opacity: .6;
    font-family: "Cabinet Grotesk",sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.clothes-section__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 21px;
}