.modal__submit-btn-redirect{
    background-color: white;
    height: 36px;
    font-weight: 700;
    width: 124px;
    color: rgba(0, 0, 0, 0.5);
    margin: 24px 0 0;
    border: none;
    font-family: "Cabinet Grotesk", cursive;
}